/input/images/Thumbs.db
/input/examples/esRender
/input-cache/
/hl7.be.fhir.template#current
temp
template
output
copyStuff.ps1.bat
plantuml.jar
old_templates
template2
txCache
shorthand
hl7.be.fhir.template/package/scripts/createArtifactSummary - Copy.xslt
hl7.be.fhir.template/package/scripts/createArtifactSummary default.xslt
build/
